spring:
  application:
    name: backend

  datasource:
    url: jdbc:postgresql://db:5432/financedb  
    username: user
    password: password123
    
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  security:
    user:
      name: user
      password: password123

      #docker is a pain in the ass and we need to clear the build context to fix the password problems if changing in future:
      #docker-compose build --no-cache backend
      #docker-compose up